In [1]:
# Supress Warnings 
import warnings
warnings.filterwarnings('ignore')

# Import common GIS tools
import pandas as pd
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt
import rioxarray as rio
import rasterio.features

# Import Planetary Computer tools
import stackstac
import pystac_client
import planetary_computer as pc
import xrspatial.multispectral as ms
import odc
from odc.stac import stac_load

# Pass your API key here
pc.settings.set_subscription_key('1b6b6eb7c08a4e58a88ab5e9062492f3')

from tqdm import tqdm

In [2]:
crop_presence_data = pd.read_csv("Crop_Location_Data_20221201_1_to_201.csv")
crop_presence_data

                       Latitude and Longitude Class of Land
0     (10.323727047081501, 105.2516346045924)          Rice
1    (10.322364360592521, 105.27843410554115)          Rice
2    (10.321455902933202, 105.25254306225168)          Rice
3    (10.324181275911162, 105.25118037576274)          Rice
4    (10.324635504740822, 105.27389181724476)          Rice
..                                        ...           ...
195    (9.996682289726301, 105.5005520032351)          Rice
196    (9.99259423025936, 105.52008384290963)          Rice
197   (9.996228060896641, 105.51463309695396)          Rice
198   (9.989868857281401, 105.52053807173928)          Rice
199    (9.977150450050921, 105.5128161816354)          Rice

[200 rows x 2 columns]

In [3]:
RVI_values=[]
for coordinates in tqdm(crop_presence_data['Latitude and Longitude']):
    lat_long=coordinates.replace('(','').replace(')','').replace(' ','').split(',')
    #box_size_deg = 0
    min_lon = float(lat_long[1])
    min_lat = float(lat_long[0])
    max_lon = float(lat_long[1])
    max_lat = float(lat_long[0])
    bounds = (min_lon, min_lat, max_lon, max_lat)
    time_window="2021-12-01/2022-01-31"
    catalog = pystac_client.Client.open("https://planetarycomputer.microsoft.com/api/stac/v1")
    search = catalog.search(collections=["sentinel-1-rtc"], bbox=bounds, datetime=time_window)
    items = list(search.get_all_items()) # This produces a list of scene IDs
    resolution = 20  # meters per pixel 
    scale = resolution / 111320.0 # degrees per pixel for CRS:4326 
    data = stac_load(items,bands=["vv", "vh"], patch_url=pc.sign, bbox=bounds, crs="EPSG:4326", resolution=scale)
    mean = data.mean(dim=['latitude','longitude']).compute()
    dop = (mean.vv / (mean.vv + mean.vh))
    m = 1-dop
    rvi = (np.sqrt(dop))*((4*mean.vh)/(mean.vv + mean.vh))
    
    np_array_rvi=np.array(rvi.values)
    average_rvi=np.mean(np_array_rvi)
    RVI_values.append(average_rvi)
    #RVI_values.append(np_array_rvi)

100%|██████████████████████████████████████████████████████████████████████████████| 200/200 [1:24:29<00:00, 25.35s/it]

In [4]:
RVI_values

[0.72877026,
 0.52279985,
 0.5133395,
 0.4821024,
 0.5398251,
 0.48709226,
 0.6375164,
 0.5986355,
 0.72174144,
 0.50928473,
 0.6810851,
 0.51703584,
 0.5939318,
 0.65432435,
 0.6090058,
 0.57580745,
 0.4559156,
 0.64110607,
 0.5216725,
 0.6185254,
 0.44271794,
 0.6753324,
 0.56371224,
 0.36877707,
 0.49350205,
 0.51083624,
 0.53528947,
 0.56233203,
 0.34927982,
 0.46476036,
 0.760416,
 0.661716,
 0.5589565,
 0.59003925,
 0.65633315,
 0.3905905,
 0.56556207,
 0.34124875,
 0.4450949,
 0.60655373,
 0.50741166,
 0.60652095,
 0.53346175,
 0.52655303,
 0.45423698,
 0.5811678,
 0.519626,
 0.35575628,
 0.67449635,
 0.50887156,
 0.60261935,
 0.5096119,
 0.37405777,
 0.6991469,
 0.6039809,
 0.57951206,
 0.4561821,
 0.53812087,
 0.57488865,
 0.56338257,
 0.3656815,
 0.509909,
 0.4236485,
 0.48005956,
 0.5231621,
 0.63336354,
 0.61638594,
 0.41018534,
 0.46978888,
 0.6851476,
 0.5208756,
 0.41882315,
 0.4779707,
 0.7046133,
 0.6795983,
 0.5152009,
 0.44087282,
 0.6449467,
 0.55618703,
 0.5814037,
 0.58384824,
 0.45971298,
 0.40067014,
 0.5586345,
 0.5411731,
 0.52818745,
 0.7548384,
 0.5319957,
 0.51632714,
 0.6166187,
 0.6275338,
 0.59944355,
 0.50215197,
 0.60345083,
 0.54272175,
 0.69841874,
 0.5578434,
 0.6556821,
 0.65152407,
 0.36694318,
 0.58643925,
 0.5923954,
 0.508356,
 0.49411756,
 0.52192885,
 0.42712146,
 0.58141714,
 0.45477527,
 0.6490655,
 0.585336,
 0.6144896,
 0.4382438,
 0.47625965,
 0.5610181,
 0.71576893,
 0.4867789,
 0.8075286,
 0.7563041,
 0.62528193,
 0.465022,
 0.4912909,
 0.61232007,
 0.50677764,
 0.57755107,
 0.715432,
 0.59646106,
 0.37023038,
 0.6642671,
 0.45672712,
 0.499262,
 0.6313208,
 0.531492,
 0.3121225,
 0.49398103,
 0.3593033,
 0.53500974,
 0.46284118,
 0.8248104,
 0.48831302,
 0.4884705,
 0.754707,
 0.52139175,
 0.5374565,
 0.48963743,
 0.4264381,
 0.519026,
 0.68296194,
 0.59374607,
 0.5097953,
 0.5624812,
 0.7603556,
 0.8474003,
 0.64834684,
 0.7357998,
 0.6932391,
 0.70302427,
 0.62666976,
 0.4835624,
 0.74224883,
 0.7661303,
 0.9665513,
 0.62068933,
 0.6690391,
 0.6176983,
 0.55875593,
 0.76024324,
 0.67536086,
 0.6821846,
 0.7152793,
 0.74505484,
 0.7419752,
 0.7457007,
 0.7835242,
 0.7682749,
 0.5752989,
 0.6948112,
 0.7859023,
 0.49788517,
 0.86235726,
 0.77638066,
 0.7182771,
 0.7804121,
 0.65120953,
 0.79075587,
 0.6558361,
 0.7756712,
 0.8367592,
 0.6799165,
 0.4613843,
 0.64844465,
 0.67909986,
 0.64327055,
 0.8229624,
 0.6586045,
 0.9869261,
 0.8093957,
 0.7586386,
 0.7386263,
 0.7805881,
 0.7008076]

In [5]:
crop_presence_data['RVI'] = RVI_values

In [6]:
crop_presence_data

                       Latitude and Longitude Class of Land       RVI
0     (10.323727047081501, 105.2516346045924)          Rice  0.728770
1    (10.322364360592521, 105.27843410554115)          Rice  0.522800
2    (10.321455902933202, 105.25254306225168)          Rice  0.513340
3    (10.324181275911162, 105.25118037576274)          Rice  0.482102
4    (10.324635504740822, 105.27389181724476)          Rice  0.539825
..                                        ...           ...       ...
195    (9.996682289726301, 105.5005520032351)          Rice  0.809396
196    (9.99259423025936, 105.52008384290963)          Rice  0.758639
197   (9.996228060896641, 105.51463309695396)          Rice  0.738626
198   (9.989868857281401, 105.52053807173928)          Rice  0.780588
199    (9.977150450050921, 105.5128161816354)          Rice  0.700808

[200 rows x 3 columns]

In [7]:
crop_presence_data.to_csv('lat_lon1_1to201_Rvi.csv', index=False)